*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    background-color: #FFE7BC;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
input{
    outline:none;
}
button{
    cursor: pointer;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}
.container{
    max-width: 1490px;
    margin: 0 auto;
}
.header{
    @media (max-width:414px) {
        margin-left: 40px;
    }
    margin-top: 14px;
    &__links-info{
        display: flex;
        justify-content: space-between;
        @media (max-width: 414px) {
            display: none;
        }
    }
    &__logo{
        cursor: pointer;
    }
    &__item{
        display: flex;
        gap: 31px;
        color: #606060;
    }
    &__info{
        display: flex;
        gap: 40px;
        font-size: 16px;
    }
    &__city{
        display: flex;
    }
    &__btns-search{
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 24px;
    }
    &__mail{
        color: #606060;
        font-weight: 600;
    }
    &__moscow{
        color: #63BEAF;
    }
    &__link{
        font-weight: 500;
        font-size: 16px;
        color: #606060;
    }
    &__btn{
        background-color: #63BEAF;
        border: 0;
        color: #ffff;
        border-radius: 7px;
        padding: 16px 40.5px 16px 40.5px;
        font-size: 16px;
    }
    &__input{
        font-size: 16px;
        height: 46px;
        width: 722px;
        border-radius: 7px;
        border: 3px solid #63BEAF;
        @media (max-width: 414px) {
            max-width: 300px;
        }
    }
    &__burger{
        display: none;
        @media (max-width: 414px) {
            display: block;
            border: 0;
        }
    }
    &__search-img{
        background-color: #63BEAF;
        border: 0;
        padding-bottom: 14px;
    }
    &__form{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    &__adaptive{
        @media (max-width: 414px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }
    }
}
.filters{
    @media (max-width:414px) {
        margin-left: 13px;
    }
}

.filter-btn {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: #63BEAF;
    color: white;
    border: none;
    border-radius: 5px;
}
.filter-btn.active {
    background-color: #63BEAF;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
}
.dropdown-content button:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #63BEAF;
}
.attractions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    @media (max-width:414px) {
        display: block;
    }
    &__title{
        margin-bottom: 20px;
    }
}

.pagination__button{
    button{
        color: #FFF;
        font-size: 24px;
        padding: 17px 25px;
        background-color: #63BEAF;
        border: none;
        border-radius: 13px;
        cursor: pointer;

    }
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 141px;
    padding-bottom: 145px;
}
[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background-image: url(../img/cross.svg);
    background-size: 20px 20px;
}
.section{
    &__title{
        margin-top: 20px;
        margin-bottom: 30px;
    }
}
.footer{
    max-width: 1490px;
    margin: 0 auto;
    margin-top: 150px;
    &__flex{
        display: flex;
        gap: 200px;
    }
    &__flex-title{
        color: #E38C56;
        font-size: 15px;
    }
    &__flex-number{
        display: flex;
        align-items: top;
        gap: 10px;
        margin-bottom: 15px;
    }
    &__flex-num_link{
        color: #312E2B;
    }
    &__text{
        margin-left: 215px;
        margin-top: 14px;
        margin-bottom: 10px;
        color: #ADADAD;
    }
    &__flex-title{
        margin-bottom: 24px;
    }
}
.module{
    display: none;
    background-color: #fff;
    @media (max-width:414px) {
        display: none;
    }
    &.open{
        display: block;
        position: absolute;
        left: 115%;
        bottom: 80%;
    }
    &__text{
        color: #63BEAF;
    }
}
button {
    cursor: pointer;
}

.modal {
    display: none; // Скрыто по умолчанию
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // Фон модального окна

    &.show {
        display: block; // Показываем модальное окно
    }

    .modal-content {
        position: relative;
        margin: 15% auto;
        padding: 20px; // Отступы внутри модального окна
        background-color: #fff; // Фон содержимого модального окна
        border-radius: 5px; // Скругление углов
        width: 80%;
        max-width: 500px;

        .close {
            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 24px;
            cursor: pointer;
        }
    }
}
#data-container, #details-container {
    margin: 20px;
  }
  .block {
    cursor: pointer;
    margin-bottom: 10px;
  }
  #details-container {
    display: none;
  }
  #details-container.active {
    display: block;
  }

.grid-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.block h2{
    font-size: 22px;
    margin-bottom: 5px;
}
.block img{
    border-radius: 3px;
}