* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  background-color: #FFE7BC;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Medium.ttf);
  font-weight: 500;
}
.container {
  max-width: 1490px;
  margin: 0 auto;
}

.header {
  margin-top: 14px;
}
@media (max-width: 414px) {
  .header {
    margin-left: 20px;
  }
}
.header__links-info {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 414px) {
  .header__links-info {
    display: none;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 414px) {
  .header__burger {
    display: block;
    border: 0;
  }
}
@media (max-width: 414px) {
  .header__adaptive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 320px;
  }
}
.header__logo {
  cursor: pointer;
}
.header__item {
  display: flex;
  gap: 31px;
  color: #606060;
}
.header__info {
  display: flex;
  gap: 40px;
  font-size: 16px;
}
.header__city {
  display: flex;
}
.header__btns-search {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 24px;
}
.header__mail {
  color: #606060;
  font-weight: 600;
}
.header__moscow {
  color: #63BEAF;
}
.header__link {
  font-weight: 500;
  font-size: 16px;
  color: #606060;
}
.header__btn {
  background-color: #63BEAF;
  border: 0;
  color: white;
  border-radius: 7px;
  padding: 16px 40.5px 16px 40.5px;
  font-size: 16px;
}
@media (max-width: 414px) {
  .header__btn {
    font-size: 12px;
    padding: 16px 10px 16px 10px;
    min-width: 200px;
  }
}
.header__input {
  font-size: 16px;
  height: 46px;
  width: 722px;
  border-radius: 7px;
  border: 3px solid #63BEAF;
}
.header__search-img {
  background-color: #63BEAF;
  border: 0;
  padding-bottom: 14px;
}
.header__form {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (max-width: 414px) {
  .section {
    margin-left: 20px;
  }
}
.section__flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
@media (max-width: 414px) {
  .section__flex {
    display: block;
  }
}
.section__main-text {
  line-height: 1, 8;
}
.section__title {
  margin-bottom: 30px;
  margin-top: 25px;
  color: #606060;
}
@media (max-width: 414px) {
  .section__title {
    font-size: 22px;
  }
}
@media (max-width: 414px) {
  .section__img-block {
    display: none;
  }
}

.section2 {
  margin-top: 30px;
}
.section2__block2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 35px;
  align-items: top;
}
@media (max-width: 414px) {
  .section2__block2 {
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 400px;
  }
}
.section2__block2__num {
  margin-bottom: 10px;
}
.section2__title {
  margin-bottom: 10px;
}

.footer {
  margin-top: 150px;
  margin-bottom: 50px;
}
.footer__flex {
  display: flex;
  gap: 200px;
}
.footer__flex-title {
  color: #E38C56;
  font-size: 15px;
}
.footer__flex-number {
  display: flex;
  align-items: top;
  gap: 10px;
  margin-bottom: 15px;
}
.footer__flex-num_link {
  color: #312E2B;
}
.footer__text {
  margin-left: 215px;
  margin-top: 14px;
  margin-bottom: 10px;
  color: #ADADAD;
}
.footer__flex-title {
  margin-bottom: 24px;
}/*# sourceMappingURL=contacts.css.map */