*{
    font-family: Montserrat;
    background-color: #FFE7BC;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.information__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.information__image {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.information__image img {
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease; 
}

.information__image img:hover {
    transform: scale(1.05); 
}


.information__image p {
    color: #888;
    font-size: 16px;
}