* {
  font-family: Montserrat;
  background-color: #FFE7BC;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Medium.ttf);
  font-weight: 500;
}
.information {
  max-width: 1490px;
  margin: 0 auto;
}
.information__title {
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: 20px;
}
.information__text {
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 10px;
}
.information__image {
  display: block;
  margin: auto;
  border-radius: 3px;
}
.information__map {
  width: 615px;
  height: 410px;
  position: relative;
  border-radius: 3px;
}
.information__frame {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.information__main-text {
  max-width: 900px;
  margin-left: 50px;
}